* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  margin: auto;
  width: 700px
}

.titolo {
  height: 150px;
  width: 700px;
  background-color: #FEFE3A;
  margin: 5px 10px;
}

.center {
  height: 450px;
  width: 700px;
  margin: 5px 10px;
}

.main::after {
  content: "";
  display: block;
  clear: both;
}

.col-left {
  height: 300px;
  width: 25%;
  background-color: #CC87DA;
  float: left;
}

.col-center {
  height: 100%;
  width: 46%;
  margin: 0 2%;
  background-color: #730671;
  float: left;
}

.box {
  height: 200px;
  width: 25%;
  background-color: #CC87DA;
  float: left;
}

.foot {
  height: 100px;
  margin: 5px 10px;
  background-color: #A4D2E1;

}
